.hero {
  position: relative;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
}

.hero-temp-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.hero-temp-nav p#logo {
  font-size: 1.25rem;
}

.hero-img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.hero-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 4rem;
}

.hero-footer h3 {
  width: 50%;
}

.hero-keywords {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 900px) {
  .hero-keywords {
    top: 35%;
    flex-direction: column;
  }

  .hero-footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .hero-footer h3 {
    width: 100%;
  }
}
