.hero {
  position: relative;
  width: 100vw;
  height: 100svh;
  color: var(--foreground);
  overflow: hidden;
}

.hero-header {
  position: absolute;
  top: 25svh;
  width: 100%;
  padding: 1.5rem;
  display: flex;
}

.hero-header-col-lg {
  flex: 4;
}

.hero-header-col-sm {
  flex: 2;
}

.hero-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  align-items: flex-end;
}

.hero-footer-col-lg {
  flex: 4;
  display: flex;
  gap: 4.5rem;
}

.hero-footer-col-lg h3 {
  width: 65%;
}

.hero-footer-col-sm {
  flex: 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.hero-tags {
  flex-shrink: 0;
}

@media (max-width: 1000px) {
  .hero {
    background-color: var(--background);
  }

  .hero-header-col-lg,
  .hero-footer-col-lg {
    display: none;
  }

  .hero-header {
    top: 50svh;
  }

  .hero h3 {
    font-size: clamp(2rem, 1.5rem + 2.5vw, 5rem);
  }
}
