.featured-work-container {
  width: 100%;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.featured-work-container .featured-work {
  width: 100%;
}

.featured-work-container .featured-work-item {
  width: 100%;
  padding: 0 2rem;
  display: flex;
  cursor: pointer;
}

.featured-work-container .featured-work-item h2,
.featured-work-container .featured-work-item p {
  position: absolute;
  top: 0%;
  width: 100%;
  line-height: 100%;
  letter-spacing: -0.025em;
  transition: color 0.25s;
}

.featured-work-container .fw-info,
.featured-work-container .fw-tag,
.featured-work-container .fw-name {
  position: relative;
  overflow: hidden;
}

.featured-work-container .fw-info,
.featured-work-container .fw-tag {
  flex: 1;
  height: 14px;
  font-size: 14px;
  text-transform: uppercase;
}

.featured-work-container .fw-tag {
  text-align: right;
}

.featured-work-container .fw-name {
  flex: 4;
  height: 55px;
  font-size: 60px;
  text-align: center;
}

.fw-info h2:nth-child(2),
.fw-name h2:nth-child(2),
.fw-tag h2:nth-child(2),
.fw-info p:nth-child(2),
.fw-tag p:nth-child(2) {
  top: 100%;
  color: #000;
}

.featured-work:hover .fw-info h2:nth-child(1),
.featured-work:hover .fw-name h2:nth-child(1),
.featured-work:hover .fw-tag h2:nth-child(1),
.featured-work:hover .fw-info p:nth-child(1),
.featured-work:hover .fw-tag p:nth-child(1) {
  color: rgb(180, 180, 180);
}

.featured-work-preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 225px;
  height: 275px;
  z-index: 2;
  pointer-events: none;
}

.featured-work-preview-img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.featured-work-preview-img-2 {
  top: 20px;
  left: 20px;
}

.featured-work-preview-img img {
  position: absolute;
  top: 0;
  left: 0;
}
